default/pigknows.json
{
  "externalControllerServices" : {
    "9760c906-e2eb-3607-89af-a76037659dd7" : {
      "identifier" : "9760c906-e2eb-3607-89af-a76037659dd7",
      "name" : "Neo4JCypherClientService"
    }
  },
  "flow" : {
    "createdTimestamp" : 1765809233071,
    "description" : "",
    "identifier" : "pigknows",
    "lastModifiedTimestamp" : 1765809233071,
    "name" : "pigknows",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "226168d5-019b-1000-7dc1-74231a91a47e",
        "name" : "Filter Grower endpoint",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "039d1b33-054f-366d-86d3-c4ec084e3bea",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "id" : "15373b0e-6882-3d21-91a2-8d89806778b9",
        "name" : "OUTPUT",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 37
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b18d3fbe-a713-30de-9eb9-8a681ae47ac9",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "120d242d-a0d7-3c4c-afcf-f772867e4b47",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "original" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "36852513-cd47-3337-82c9-5bcd830d2a09",
        "name" : "ForkEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 43
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "36852513-cd47-3337-82c9-5bcd830d2a09",
        "name" : "ForkEnrichment",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "19c6a699-f367-3c4e-9660-878cd690d86b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Response" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d5bfa3df-019a-1000-0741-a7d7e27a2e8c",
        "name" : "Get endpoint data",
        "type" : "PROCESSOR"
      },
      "zIndex" : 40
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2a16e98-1507-335e-a539-c820c47dca04",
        "name" : "ExecuteScript",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1e6f3da3-d216-3870-bb55-cd5c839dd400",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "joined" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b18d3fbe-a713-30de-9eb9-8a681ae47ac9",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 47
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2e948ef1-9fed-30bf-b451-6ada0821af47",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "49fcbb30-2021-32ce-999e-b2ce49db6db0",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2a16e98-1507-335e-a539-c820c47dca04",
        "name" : "ExecuteScript",
        "type" : "PROCESSOR"
      },
      "zIndex" : 49
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "66963edc-cd13-341f-86f4-b631c6c440e9",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "55c39077-8334-3ca2-8f3c-08622ee982b8",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8cd306d4-2670-3c00-941c-de76052d77f1",
        "name" : "Filter ?WTF_CAMRI farms",
        "type" : "PROCESSOR"
      },
      "zIndex" : 34
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b4e1f6e9-7553-3463-a3d9-ac387c9b0714",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "62d04e9b-21e8-3064-906b-e4451410f284",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "joined" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b18d3fbe-a713-30de-9eb9-8a681ae47ac9",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 44
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "be63a515-0958-3a58-addc-2e787038af47",
        "name" : "PushToRedisSimple",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8a25e152-c7b4-3d6d-9dc7-25fa3363d5aa",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2a16e98-1507-335e-a539-c820c47dca04",
        "name" : "ExecuteScript",
        "type" : "PROCESSOR"
      },
      "zIndex" : 50
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
        "id" : "e73cf46f-94b1-38b9-8c70-3e9ee135802b",
        "name" : "INPUT",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "97144311-dd63-3e6a-9a84-29673f82d002",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "a38cd3e7-c01a-3b13-a304-5c88e4cd83fe",
        "id" : "7bd4554c-81c7-3eeb-82f2-b3853e91c4e6",
        "name" : "Token",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 20
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b18d3fbe-a713-30de-9eb9-8a681ae47ac9",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "982f2145-e972-3900-a1a5-c9d626fe5abf",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "59efb0be-6fd4-360f-a468-6d49f4ccdb78",
        "name" : "ExecuteGraphQuery",
        "type" : "PROCESSOR"
      },
      "zIndex" : 46
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "65a04831-20e8-3b2d-a0f0-d3c611f72817",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9c912899-e52d-3d93-b8aa-7998e93af32f",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Response" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d5bfa3df-019a-1000-0741-a7d7e27a2e8c",
        "name" : "Get endpoint data",
        "type" : "PROCESSOR"
      },
      "zIndex" : 39
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d5bfa3df-019a-1000-0741-a7d7e27a2e8c",
        "name" : "Get endpoint data",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9ec9f2e4-a001-3080-a159-51d3fcec00b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "valid_endpoint" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "226168d5-019b-1000-7dc1-74231a91a47e",
        "name" : "Filter Grower endpoint",
        "type" : "PROCESSOR"
      },
      "zIndex" : 38
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "id" : "ec6a3eab-4671-3b3a-9eab-ea7565016d88",
        "name" : "INPUT",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a8049677-1375-3fb2-8907-f4f43f09456e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "valid_farm" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8cd306d4-2670-3c00-941c-de76052d77f1",
        "name" : "Filter ?WTF_CAMRI farms",
        "type" : "PROCESSOR"
      },
      "zIndex" : 36
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "59efb0be-6fd4-360f-a468-6d49f4ccdb78",
        "name" : "ExecuteGraphQuery",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b614a5b6-7e9e-3b29-8769-f31062822b31",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "enrichment" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "36852513-cd47-3337-82c9-5bcd830d2a09",
        "name" : "ForkEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 45
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8cd306d4-2670-3c00-941c-de76052d77f1",
        "name" : "Filter ?WTF_CAMRI farms",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ba653772-c99c-323e-8c38-23e2c1cbbb3f",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
        "id" : "397f4e0f-c657-3ea2-832f-04f6ea4ab613",
        "name" : "OUTPUT",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 35
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8d87f7b8-800d-3b0d-9af1-8a908f00b76e",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f8fd75b1-32d1-3b5b-a1cd-bae9ef9895a4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2a16e98-1507-335e-a539-c820c47dca04",
        "name" : "ExecuteScript",
        "type" : "PROCESSOR"
      },
      "zIndex" : 48
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40f90176-418d-3041-a02b-4fd8c38a80f8",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-distributed-cache-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient"
      }, {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.distributed.cache.client.DistributedMapCacheClient"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8c6dc719-08cf-33bc-983b-0d0d331beeab",
      "name" : "MapCacheClientService",
      "properties" : {
        "Server Port" : "4557",
        "Server Hostname" : "localhost",
        "Communications Timeout" : "30 secs"
      },
      "propertyDescriptors" : {
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Server Port" : {
          "displayName" : "Server Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Server Port",
          "sensitive" : false
        },
        "Server Hostname" : {
          "displayName" : "Server Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Server Hostname",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.distributed.cache.client.MapCacheClientService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d1768e1a-df48-3449-9bd5-d241f1535aae",
      "name" : "JsonTreeReader",
      "properties" : {
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "schema-name" : "${schema.name}",
        "starting-field-strategy" : "ROOT_NODE",
        "schema-access-strategy" : "infer-schema",
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "schema-application-strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-application-strategy",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-inference-cache",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "starting-field-strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-strategy",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "starting-field-name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-name",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-distributed-cache-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f1c10e6e-bf1e-3f23-ab63-07a87fe12adc",
      "name" : "MapCacheServer",
      "properties" : {
        "Eviction Strategy" : "Least Frequently Used",
        "maximum-read-size" : "1 MB",
        "Port" : "4557",
        "Maximum Cache Entries" : "10000"
      },
      "propertyDescriptors" : {
        "Eviction Strategy" : {
          "displayName" : "Eviction Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Eviction Strategy",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Persistence Directory" : {
          "displayName" : "Persistence Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Persistence Directory",
          "sensitive" : false
        },
        "maximum-read-size" : {
          "displayName" : "Maximum Read Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "maximum-read-size",
          "sensitive" : false
        },
        "Port" : {
          "displayName" : "Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Port",
          "sensitive" : false
        },
        "Maximum Cache Entries" : {
          "displayName" : "Maximum Cache Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Cache Entries",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.distributed.cache.server.map.MapCacheServer"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : {
      "9760c906-e2eb-3607-89af-a76037659dd7" : {
        "identifier" : "9760c906-e2eb-3607-89af-a76037659dd7",
        "name" : "Neo4JCypherClientService"
      }
    },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2e948ef1-9fed-30bf-b451-6ada0821af47",
      "position" : {
        "x" : 248.0,
        "y" : 968.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "65a04831-20e8-3b2d-a0f0-d3c611f72817",
      "position" : {
        "x" : -688.0,
        "y" : 392.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "66963edc-cd13-341f-86f4-b631c6c440e9",
      "position" : {
        "x" : -528.0,
        "y" : -464.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8d87f7b8-800d-3b0d-9af1-8a908f00b76e",
      "position" : {
        "x" : -304.0,
        "y" : 1192.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4e1f6e9-7553-3463-a3d9-ac387c9b0714",
      "position" : {
        "x" : -952.0,
        "y" : 1200.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "PigKnows",
    "outputPorts" : [ ],
    "parameterContextName" : "PIGKNOWS_KEYS",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "a38cd3e7-c01a-3b13-a304-5c88e4cd83fe",
          "id" : "7bd4554c-81c7-3eeb-82f2-b3853e91c4e6",
          "name" : "Token",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a38cd3e7-c01a-3b13-a304-5c88e4cd83fe",
        "identifier" : "008029da-37e9-3aa6-9777-6b5b5e7cbc0d",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "a38cd3e7-c01a-3b13-a304-5c88e4cd83fe",
          "id" : "d259fe69-019a-1000-b559-94be1945dea6",
          "name" : "Extract token to attribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 2
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a38cd3e7-c01a-3b13-a304-5c88e4cd83fe",
          "id" : "d259fe69-019a-1000-b559-94be1945dea6",
          "name" : "Extract token to attribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a38cd3e7-c01a-3b13-a304-5c88e4cd83fe",
        "identifier" : "6566c632-74d4-3126-8f0f-eeffb4d1574a",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a38cd3e7-c01a-3b13-a304-5c88e4cd83fe",
          "id" : "d259fe68-019a-1000-3881-35db66d6f693",
          "name" : "GET JWT TOKEN",
          "type" : "PROCESSOR"
        },
        "zIndex" : 1
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a38cd3e7-c01a-3b13-a304-5c88e4cd83fe",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "GENERATE ACCESS TOKEN",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "a38cd3e7-c01a-3b13-a304-5c88e4cd83fe",
        "identifier" : "7bd4554c-81c7-3eeb-82f2-b3853e91c4e6",
        "name" : "Token",
        "portFunction" : "FAILURE",
        "position" : {
          "x" : 520.0,
          "y" : -400.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "PIGKNOWS_KEYS",
      "position" : {
        "x" : -1464.0,
        "y" : -1200.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-scripting-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a38cd3e7-c01a-3b13-a304-5c88e4cd83fe",
        "identifier" : "d259fe68-019a-1000-3881-35db66d6f693",
        "maxBackoffPeriod" : "10 mins",
        "name" : "GET JWT TOKEN",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -976.0,
          "y" : -424.0
        },
        "properties" : {
          "Script Engine" : "python",
          "Script Body" : "import json\nimport urllib2\nfrom org.apache.nifi.processor.io import StreamCallback\n\n# 1. Obtener credenciales y forzar que sean Strings (UTF-8)\n# Usamos .encode('utf-8') para evitar problemas de Unicode con Jython\nraw_id = context.getProperty('client_id').evaluateAttributeExpressions().getValue()\nraw_secret = context.getProperty('client_secret').evaluateAttributeExpressions().getValue()\nurl = context.getProperty('auth_url').evaluateAttributeExpressions().getValue()\nclient_id = raw_id.encode('utf-8') if raw_id else \"\"\nclient_secret = raw_secret.encode('utf-8') if raw_secret else \"\"\n\n# 2. Construir el payload\npayload_dict = {\n  \"grant_type\": \"client_credentials\",\n  \"client_id\": client_id,\n  \"client_secret\": client_secret,\n  \"scope\": \"read\"\n}\n\n# json.dumps puede devolver unicode si el input es unicode. Lo forzamos a utf-8.\njson_payload = json.dumps(payload_dict).encode('utf-8')\n\n# 3. Preparar la Petición\nreq = urllib2.Request(url, json_payload)\nreq.add_header('Content-Type', 'application/json')\nreq.add_header('User-Agent', 'Apache-NiFi/Python') \n\n# Inicializamos flowFile antes del try para asegurar que existe\nflowFile = session.get()\nif not flowFile:\n    flowFile = session.create()\n\ntry:\n    # 4. Ejecutar la petición\n    response = urllib2.urlopen(req)\n    response_body = response.read() # Esto devuelve bytes, generalmente seguro\n    \n    # 5. Escribir respuesta\n    class WriteCallback(StreamCallback):\n        def process(self, inputStream, outputStream):\n            # Eliminamos bytearray() que causa conflictos en Jython\n            # Escribimos directamente. Si response_body es unicode (raro en urllib), lo codificamos.\n            if isinstance(response_body, unicode):\n                 outputStream.write(response_body.encode('utf-8'))\n            else:\n                 outputStream.write(response_body)\n\n    flowFile = session.write(flowFile, WriteCallback())\n    session.transfer(flowFile, REL_SUCCESS)\n\nexcept urllib2.HTTPError as e:\n    # Capturamos errores HTTP (400, 401, 500)\n    log.error(\"Error HTTP PigKnows Code: \" + str(e.code))\n    # Importante: Leemos el error del cuerpo para saber qué pasó (ej. 'invalid_client')\n    try:\n        err_content = e.read()\n        log.error(\"Error Content: \" + str(err_content))\n    except:\n        pass\n    session.transfer(flowFile, REL_FAILURE)\n    \nexcept Exception as e:\n    # Capturamos errores de Scripting/Python\n    log.error(\"Error General Script: \" + str(e))\n    session.transfer(flowFile, REL_FAILURE)",
          "client_secret" : "#{client_secret}",
          "auth_url" : "#{BASE_URL}/auth/token",
          "client_id" : "#{client_id}"
        },
        "propertyDescriptors" : {
          "Script File" : {
            "displayName" : "Script File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Script File",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "FILE" ]
            },
            "sensitive" : false
          },
          "Script Engine" : {
            "displayName" : "Script Engine",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Script Engine",
            "sensitive" : false
          },
          "Script Body" : {
            "displayName" : "Script Body",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Script Body",
            "sensitive" : false
          },
          "client_secret" : {
            "displayName" : "client_secret",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "client_secret",
            "sensitive" : true
          },
          "auth_url" : {
            "displayName" : "auth_url",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "auth_url",
            "sensitive" : false
          },
          "Module Directory" : {
            "displayName" : "Module Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Module Directory",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "client_id" : {
            "displayName" : "client_id",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "client_id",
            "sensitive" : true
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "1 min",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.script.ExecuteScript",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a38cd3e7-c01a-3b13-a304-5c88e4cd83fe",
        "identifier" : "d259fe69-019a-1000-b559-94be1945dea6",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Extract token to attribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -208.0,
          "y" : -432.0
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "Max String Length" : "20 MB",
          "Return Type" : "auto-detect",
          "Null Value Representation" : "empty string",
          "auth_token" : "$.accessToken",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "auth_token" : {
            "displayName" : "auth_token",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "auth_token",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
          "id" : "d5be3271-019a-1000-778c-b4fafbd2d058",
          "name" : "Replace {farmId} segment",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "identifier" : "0f977c20-70ec-324a-9867-4e3d3d7240d9",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
          "id" : "d5be3274-019a-1000-16ea-d9304caf4327",
          "name" : "Replace {customerId} segment",
          "type" : "PROCESSOR"
        },
        "zIndex" : 4
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
          "id" : "d5be3274-019a-1000-16ea-d9304caf4327",
          "name" : "Replace {customerId} segment",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "identifier" : "1c3ef6c2-ef85-30ec-a692-c3db29c48eaa",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "split" ],
        "source" : {
          "comments" : "",
          "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
          "id" : "d5be3272-019a-1000-1ada-8c46d6e8d5da",
          "name" : "Create one flow file per endpoint",
          "type" : "PROCESSOR"
        },
        "zIndex" : 3
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
          "id" : "d5be3273-019a-1000-18f5-00a6036e327a",
          "name" : "Put endpoint in {endpoint} attribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "identifier" : "2a76dbe5-903e-39d7-9e82-e599db0b19ad",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
          "id" : "d5be3271-019a-1000-778c-b4fafbd2d058",
          "name" : "Replace {farmId} segment",
          "type" : "PROCESSOR"
        },
        "zIndex" : 5
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
          "id" : "d5be3270-019a-1000-0306-f5894d486974",
          "name" : "Generate flow file with endpoints list",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "identifier" : "3b392cb6-21a5-3a50-842b-1ce16073c859",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
          "id" : "ec6a3eab-4671-3b3a-9eab-ea7565016d88",
          "name" : "INPUT",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 1
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
          "id" : "15373b0e-6882-3d21-91a2-8d89806778b9",
          "name" : "OUTPUT",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "identifier" : "b06d1e5c-09ba-3e83-8f1d-b1eea4877b71",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
          "id" : "d5be3273-019a-1000-18f5-00a6036e327a",
          "name" : "Put endpoint in {endpoint} attribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 6
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
          "id" : "d5be3272-019a-1000-1ada-8c46d6e8d5da",
          "name" : "Create one flow file per endpoint",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "identifier" : "fd57e600-d9ea-3582-b73a-a31cc03dcc63",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
          "id" : "d5be3270-019a-1000-0306-f5894d486974",
          "name" : "Generate flow file with endpoints list",
          "type" : "PROCESSOR"
        },
        "zIndex" : 2
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "identifier" : "ec6a3eab-4671-3b3a-9eab-ea7565016d88",
        "name" : "INPUT",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -1340.158150404947,
          "y" : 466.25105015746027
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "GENERATE ENDPOINTS",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "identifier" : "15373b0e-6882-3d21-91a2-8d89806778b9",
        "name" : "OUTPUT",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 708.3026951412787,
          "y" : -501.0342976906708
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "PIGKNOWS_KEYS",
      "position" : {
        "x" : -1456.0,
        "y" : -240.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "identifier" : "d5be3270-019a-1000-0306-f5894d486974",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Generate flow file with endpoints list",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -888.0,
          "y" : 416.0
        },
        "properties" : {
          "Regular Expression" : "(?s)(^.*$)",
          "Replacement Value" : "[\n  \"/customer/{customerId}/farm/{farmId}/abortion\",\n  \"/customer/{customerId}/farm/{farmId}/boarHerd\",\n  \"/customer/{customerId}/farm/{farmId}/boarSales\",\n  \"/customer/{customerId}/farm/{farmId}/deletion\",\n  \"/customer/{customerId}/farm/{farmId}/dictionary\",\n  \"/customer/{customerId}/farm/{farmId}/farrow\",\n  \"/customer/{customerId}/farm/{farmId}/feed\",\n  \"/customer/{customerId}/farm/{farmId}/feedBudget\",\n  \"/customer/{customerId}/farm/{farmId}/general\",\n  \"/customer/{customerId}/farm/{farmId}/grower\",\n  \"/customer/{customerId}/farm/{farmId}/growerTreatments\",\n  \"/customer/{customerId}/farm/{farmId}/idChange\",\n  \"/customer/{customerId}/farm/{farmId}/killSheet\",\n  \"/customer/{customerId}/farm/{farmId}/location\",\n  \"/customer/{customerId}/farm/{farmId}/pedigree\",\n  \"/customer/{customerId}/farm/{farmId}/pedigreeDNAs\",\n  \"/customer/{customerId}/farm/{farmId}/pedigreeEvents\",\n  \"/customer/{customerId}/farm/{farmId}/piglet\",\n  \"/customer/{customerId}/farm/{farmId}/pregExam\",\n  \"/customer/{customerId}/farm/{farmId}/rare\",\n  \"/customer/{customerId}/farm/{farmId}/service\",\n  \"/customer/{customerId}/farm/{farmId}/sowHerd\",\n  \"/customer/{customerId}/farm/{farmId}/sowSales\",\n  \"/customer/{customerId}/farm/{farmId}/temperature\",\n  \"/customer/{customerId}/farm/{farmId}/waterConsumption\"\n]",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Always Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "1 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "identifier" : "d5be3271-019a-1000-778c-b4fafbd2d058",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Replace {farmId} segment",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -120.0,
          "y" : -232.0
        },
        "properties" : {
          "Regular Expression" : "{farmId}",
          "Replacement Value" : "${farm_name.0}",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Literal Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "original" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "identifier" : "d5be3272-019a-1000-1ada-8c46d6e8d5da",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Create one flow file per endpoint",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -112.0,
          "y" : 400.0
        },
        "properties" : {
          "Max String Length" : "20 MB",
          "Null Value Representation" : "empty string",
          "JsonPath Expression" : "$.*"
        },
        "propertyDescriptors" : {
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "JsonPath Expression" : {
            "displayName" : "JsonPath Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JsonPath Expression",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.SplitJson",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "identifier" : "d5be3273-019a-1000-18f5-00a6036e327a",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Put endpoint in {endpoint} attribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -115.99983637280093,
          "y" : -540.1597268009132
        },
        "properties" : {
          "Enable Unicode Predefined Character Classes" : "false",
          "Permit Whitespace and Comments in Pattern" : "false",
          "Enable Unicode-aware Case Folding" : "false",
          "Enable named group support" : "false",
          "Enable DOTALL Mode" : "false",
          "Enable Unix Lines Mode" : "false",
          "Maximum Buffer Size" : "1 MB",
          "Enable Canonical Equivalence" : "false",
          "Enable Case-insensitive Matching" : "false",
          "Enable Multiline Mode" : "false",
          "endpoint" : ".*",
          "Enable repeating capture group" : "false",
          "Maximum Capture Group Length" : "1024",
          "Enable Literal Parsing of the Pattern" : "false",
          "Character Set" : "UTF-8",
          "Include Capture Group 0" : "true"
        },
        "propertyDescriptors" : {
          "Enable Unicode Predefined Character Classes" : {
            "displayName" : "Enable Unicode Predefined Character Classes",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Unicode Predefined Character Classes",
            "sensitive" : false
          },
          "Permit Whitespace and Comments in Pattern" : {
            "displayName" : "Permit Whitespace and Comments in Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Permit Whitespace and Comments in Pattern",
            "sensitive" : false
          },
          "Enable Unicode-aware Case Folding" : {
            "displayName" : "Enable Unicode-aware Case Folding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Unicode-aware Case Folding",
            "sensitive" : false
          },
          "Enable named group support" : {
            "displayName" : "Enable named group support",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable named group support",
            "sensitive" : false
          },
          "Enable DOTALL Mode" : {
            "displayName" : "Enable DOTALL Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable DOTALL Mode",
            "sensitive" : false
          },
          "Enable Unix Lines Mode" : {
            "displayName" : "Enable Unix Lines Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Unix Lines Mode",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Enable Canonical Equivalence" : {
            "displayName" : "Enable Canonical Equivalence",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Canonical Equivalence",
            "sensitive" : false
          },
          "Enable Case-insensitive Matching" : {
            "displayName" : "Enable Case-insensitive Matching",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Case-insensitive Matching",
            "sensitive" : false
          },
          "Enable Multiline Mode" : {
            "displayName" : "Enable Multiline Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Multiline Mode",
            "sensitive" : false
          },
          "endpoint" : {
            "displayName" : "endpoint",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "endpoint",
            "sensitive" : false
          },
          "Enable repeating capture group" : {
            "displayName" : "Enable repeating capture group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable repeating capture group",
            "sensitive" : false
          },
          "Maximum Capture Group Length" : {
            "displayName" : "Maximum Capture Group Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Capture Group Length",
            "sensitive" : false
          },
          "Enable Literal Parsing of the Pattern" : {
            "displayName" : "Enable Literal Parsing of the Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Literal Parsing of the Pattern",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Include Capture Group 0" : {
            "displayName" : "Include Capture Group 0",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Capture Group 0",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExtractText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a980b7d3-9e3c-300f-91a1-f76f87e14ddf",
        "identifier" : "d5be3274-019a-1000-16ea-d9304caf4327",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Replace {customerId} segment",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -123.99983637280093,
          "y" : 27.840273199086823
        },
        "properties" : {
          "Regular Expression" : "{customerId}",
          "Replacement Value" : "#{CLIENT}",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Literal Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
          "id" : "d594a087-019a-1000-dc2c-b5da200eb351",
          "name" : "Create one flow file per farm",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
        "identifier" : "519cfb15-ffb6-34af-9410-846b8205bd09",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Response" ],
        "source" : {
          "comments" : "",
          "groupId" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
          "id" : "d594a086-019a-1000-8ad5-8eb49d5fb61a",
          "name" : "GET FARMS LIST",
          "type" : "PROCESSOR"
        },
        "zIndex" : 1
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
          "id" : "397f4e0f-c657-3ea2-832f-04f6ea4ab613",
          "name" : "OUTPUT",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
        "identifier" : "668ba7ef-fc2d-3290-b993-c6a17e21ecdf",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
          "id" : "d594a085-019a-1000-348b-aef4661c3017",
          "name" : "Put farm id in {farm_name} attribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 4
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
          "id" : "d594a086-019a-1000-8ad5-8eb49d5fb61a",
          "name" : "GET FARMS LIST",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
        "identifier" : "ae4b521b-367a-3f3e-bdc6-23d01d40eea5",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
          "id" : "e73cf46f-94b1-38b9-8c70-3e9ee135802b",
          "name" : "INPUT",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 3
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
          "id" : "d594a085-019a-1000-348b-aef4661c3017",
          "name" : "Put farm id in {farm_name} attribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
        "identifier" : "f771f819-117d-3923-b41f-b9376338f90c",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "split" ],
        "source" : {
          "comments" : "",
          "groupId" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
          "id" : "d594a087-019a-1000-dc2c-b5da200eb351",
          "name" : "Create one flow file per farm",
          "type" : "PROCESSOR"
        },
        "zIndex" : 2
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
        "identifier" : "e73cf46f-94b1-38b9-8c70-3e9ee135802b",
        "name" : "INPUT",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -776.0,
          "y" : -336.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "GENERATE FARMS NAMES",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
        "identifier" : "397f4e0f-c657-3ea2-832f-04f6ea4ab613",
        "name" : "OUTPUT",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -776.0,
          "y" : 664.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "PIGKNOWS_KEYS",
      "position" : {
        "x" : -1464.0,
        "y" : -776.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
        "identifier" : "d594a085-019a-1000-348b-aef4661c3017",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Put farm id in {farm_name} attribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -832.0,
          "y" : 336.0
        },
        "properties" : {
          "Enable Unicode Predefined Character Classes" : "false",
          "Permit Whitespace and Comments in Pattern" : "false",
          "Enable Unicode-aware Case Folding" : "false",
          "Enable named group support" : "false",
          "Enable DOTALL Mode" : "false",
          "Enable Unix Lines Mode" : "false",
          "Maximum Buffer Size" : "1 MB",
          "Enable Canonical Equivalence" : "false",
          "Enable Case-insensitive Matching" : "false",
          "Enable Multiline Mode" : "false",
          "Enable repeating capture group" : "false",
          "Maximum Capture Group Length" : "1024",
          "Enable Literal Parsing of the Pattern" : "false",
          "Character Set" : "UTF-8",
          "Include Capture Group 0" : "true",
          "farm_name" : ".*"
        },
        "propertyDescriptors" : {
          "Enable Unicode Predefined Character Classes" : {
            "displayName" : "Enable Unicode Predefined Character Classes",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Unicode Predefined Character Classes",
            "sensitive" : false
          },
          "Permit Whitespace and Comments in Pattern" : {
            "displayName" : "Permit Whitespace and Comments in Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Permit Whitespace and Comments in Pattern",
            "sensitive" : false
          },
          "Enable Unicode-aware Case Folding" : {
            "displayName" : "Enable Unicode-aware Case Folding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Unicode-aware Case Folding",
            "sensitive" : false
          },
          "Enable named group support" : {
            "displayName" : "Enable named group support",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable named group support",
            "sensitive" : false
          },
          "Enable DOTALL Mode" : {
            "displayName" : "Enable DOTALL Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable DOTALL Mode",
            "sensitive" : false
          },
          "Enable Unix Lines Mode" : {
            "displayName" : "Enable Unix Lines Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Unix Lines Mode",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Enable Canonical Equivalence" : {
            "displayName" : "Enable Canonical Equivalence",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Canonical Equivalence",
            "sensitive" : false
          },
          "Enable Case-insensitive Matching" : {
            "displayName" : "Enable Case-insensitive Matching",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Case-insensitive Matching",
            "sensitive" : false
          },
          "Enable Multiline Mode" : {
            "displayName" : "Enable Multiline Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Multiline Mode",
            "sensitive" : false
          },
          "Enable repeating capture group" : {
            "displayName" : "Enable repeating capture group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable repeating capture group",
            "sensitive" : false
          },
          "Maximum Capture Group Length" : {
            "displayName" : "Maximum Capture Group Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Capture Group Length",
            "sensitive" : false
          },
          "Enable Literal Parsing of the Pattern" : {
            "displayName" : "Enable Literal Parsing of the Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Literal Parsing of the Pattern",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Include Capture Group 0" : {
            "displayName" : "Include Capture Group 0",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Capture Group 0",
            "sensitive" : false
          },
          "farm_name" : {
            "displayName" : "farm_name",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "farm_name",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExtractText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "Failure", "No Retry", "Original", "Retry" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
        "identifier" : "d594a086-019a-1000-8ad5-8eb49d5fb61a",
        "maxBackoffPeriod" : "10 mins",
        "name" : "GET FARMS LIST",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -832.0,
          "y" : -168.0
        },
        "properties" : {
          "Request Content-Encoding" : "DISABLED",
          "Request Multipart Form-Data Filename Enabled" : "true",
          "Request Chunked Transfer-Encoding Enabled" : "false",
          "HTTP/2 Disabled" : "False",
          "Connection Timeout" : "5 secs",
          "Response Cookie Strategy" : "DISABLED",
          "Authorization" : "Bearer ${auth_token}",
          "Socket Read Timeout" : "15 secs",
          "Socket Idle Connections" : "5",
          "Request Body Enabled" : "true",
          "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
          "HTTP URL" : "#{BASE_URL}/customer/#{CLIENT}/farm",
          "Socket Idle Timeout" : "5 mins",
          "Response Redirects Enabled" : "True",
          "Socket Write Timeout" : "15 secs",
          "Response FlowFile Naming Strategy" : "RANDOM",
          "Response Cache Enabled" : "false",
          "Request Date Header Enabled" : "True",
          "Request Failure Penalization Enabled" : "false",
          "Response Body Attribute Size" : "256",
          "Response Generation Required" : "false",
          "Response Header Request Attributes Enabled" : "false",
          "HTTP Method" : "GET",
          "Request Content-Type" : "${mime.type}",
          "Request Digest Authentication Enabled" : "false",
          "Response Cache Size" : "10MB",
          "Response Body Ignored" : "false"
        },
        "propertyDescriptors" : {
          "Request Content-Encoding" : {
            "displayName" : "Request Content-Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Encoding",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Request Multipart Form-Data Filename Enabled" : {
            "displayName" : "Request Multipart Form-Data Filename Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Filename Enabled",
            "sensitive" : false
          },
          "Request Chunked Transfer-Encoding Enabled" : {
            "displayName" : "Request Chunked Transfer-Encoding Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Chunked Transfer-Encoding Enabled",
            "sensitive" : false
          },
          "Response Header Request Attributes Prefix" : {
            "displayName" : "Response Header Request Attributes Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Prefix",
            "sensitive" : false
          },
          "HTTP/2 Disabled" : {
            "displayName" : "HTTP/2 Disabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP/2 Disabled",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Response Cookie Strategy" : {
            "displayName" : "Response Cookie Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cookie Strategy",
            "sensitive" : false
          },
          "Authorization" : {
            "displayName" : "Authorization",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "Authorization",
            "sensitive" : false
          },
          "Request Password" : {
            "displayName" : "Request Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Password",
            "sensitive" : true
          },
          "Socket Read Timeout" : {
            "displayName" : "Socket Read Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Read Timeout",
            "sensitive" : false
          },
          "Socket Idle Connections" : {
            "displayName" : "Socket Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Connections",
            "sensitive" : false
          },
          "Request Body Enabled" : {
            "displayName" : "Request Body Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Body Enabled",
            "sensitive" : false
          },
          "OAuth2 Access Token Refresh Strategy" : {
            "displayName" : "OAuth2 Access Token Refresh Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "OAuth2 Access Token Refresh Strategy",
            "sensitive" : false
          },
          "HTTP URL" : {
            "displayName" : "HTTP URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP URL",
            "sensitive" : false
          },
          "Request OAuth2 Access Token Provider" : {
            "displayName" : "Request OAuth2 Access Token Provider",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Request OAuth2 Access Token Provider",
            "sensitive" : false
          },
          "Socket Idle Timeout" : {
            "displayName" : "Socket Idle Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Timeout",
            "sensitive" : false
          },
          "Response Redirects Enabled" : {
            "displayName" : "Response Redirects Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Redirects Enabled",
            "sensitive" : false
          },
          "Socket Write Timeout" : {
            "displayName" : "Socket Write Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Write Timeout",
            "sensitive" : false
          },
          "Request Header Attributes Pattern" : {
            "displayName" : "Request Header Attributes Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Header Attributes Pattern",
            "sensitive" : false
          },
          "Response FlowFile Naming Strategy" : {
            "displayName" : "Response FlowFile Naming Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response FlowFile Naming Strategy",
            "sensitive" : false
          },
          "Response Cache Enabled" : {
            "displayName" : "Response Cache Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Enabled",
            "sensitive" : false
          },
          "Request Date Header Enabled" : {
            "displayName" : "Request Date Header Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Date Header Enabled",
            "sensitive" : false
          },
          "Request Failure Penalization Enabled" : {
            "displayName" : "Request Failure Penalization Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Failure Penalization Enabled",
            "sensitive" : false
          },
          "Response Body Attribute Size" : {
            "displayName" : "Response Body Attribute Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Size",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Response Generation Required" : {
            "displayName" : "Response Generation Required",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Generation Required",
            "sensitive" : false
          },
          "Request User-Agent" : {
            "displayName" : "Request User-Agent",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request User-Agent",
            "sensitive" : false
          },
          "Response Header Request Attributes Enabled" : {
            "displayName" : "Response Header Request Attributes Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Enabled",
            "sensitive" : false
          },
          "HTTP Method" : {
            "displayName" : "HTTP Method",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP Method",
            "sensitive" : false
          },
          "Request Username" : {
            "displayName" : "Request Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Username",
            "sensitive" : false
          },
          "Request Content-Type" : {
            "displayName" : "Request Content-Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Type",
            "sensitive" : false
          },
          "Response Body Attribute Name" : {
            "displayName" : "Response Body Attribute Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Name",
            "sensitive" : false
          },
          "Request Digest Authentication Enabled" : {
            "displayName" : "Request Digest Authentication Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Digest Authentication Enabled",
            "sensitive" : false
          },
          "Request Multipart Form-Data Name" : {
            "displayName" : "Request Multipart Form-Data Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Name",
            "sensitive" : false
          },
          "Response Cache Size" : {
            "displayName" : "Response Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Size",
            "sensitive" : false
          },
          "Response Body Ignored" : {
            "displayName" : "Response Body Ignored",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Ignored",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "1 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "original" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bbae46a7-de7f-327e-a714-c061ddd2c6fb",
        "identifier" : "d594a087-019a-1000-dc2c-b5da200eb351",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Create one flow file per farm",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -824.0,
          "y" : 88.0
        },
        "properties" : {
          "Max String Length" : "20 MB",
          "Null Value Representation" : "empty string",
          "JsonPath Expression" : "$.farms"
        },
        "propertyDescriptors" : {
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "JsonPath Expression" : {
            "displayName" : "JsonPath Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JsonPath Expression",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.SplitJson",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "226168d5-019b-1000-7dc1-74231a91a47e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Filter Grower endpoint",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1440.0,
        "y" : 72.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "valid_endpoint" : "${endpoint.0:endsWith('grower')}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "valid_endpoint" : {
          "displayName" : "valid_endpoint",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "valid_endpoint",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "36852513-cd47-3337-82c9-5bcd830d2a09",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ForkEnrichment",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1440.0,
        "y" : 584.0
      },
      "properties" : { },
      "propertyDescriptors" : { },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ForkEnrichment",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-graph-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "59efb0be-6fd4-360f-a468-6d49f4ccdb78",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExecuteGraphQuery",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -792.0,
        "y" : 576.0
      },
      "properties" : {
        "graph-query" : "MATCH (:AnimalShed:Entity { idta: '${farm_name.0}' })-[:HAS_SERVICE]->(s:Service:Inventory)\nRETURN s.endpointMap\nLIMIT 1;",
        "graph-client-service" : "9760c906-e2eb-3607-89af-a76037659dd7"
      },
      "propertyDescriptors" : {
        "graph-query" : {
          "displayName" : "Graph Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "graph-query",
          "sensitive" : false
        },
        "graph-client-service" : {
          "displayName" : "Client Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "graph-client-service",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.graph.ExecuteGraphQuery",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8cd306d4-2670-3c00-941c-de76052d77f1",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Filter ?WTF_CAMRI farms",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1440.0,
        "y" : -504.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "valid_farm" : "${farm_name.0:contains('WTF_CAMRI')}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "valid_farm" : {
          "displayName" : "valid_farm",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "valid_farm",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "original", "timeout" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b18d3fbe-a713-30de-9eb9-8a681ae47ac9",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoinEnrichment",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1096.0,
        "y" : 912.0
      },
      "properties" : {
        "dbf-default-precision" : "10",
        "Join Strategy" : "Wrapper",
        "Insertion Record Path" : "/",
        "Timeout" : "10 min",
        "Original Record Reader" : "d1768e1a-df48-3449-9bd5-d241f1535aae",
        "Record Writer" : "40f90176-418d-3041-a02b-4fd8c38a80f8",
        "Enrichment Record Reader" : "d1768e1a-df48-3449-9bd5-d241f1535aae",
        "dbf-default-scale" : "0",
        "Maximum number of Bins" : "10000",
        "SQL" : "SELECT original.*, enrichment.* \nFROM original \nLEFT OUTER JOIN enrichment \nON original.id = enrichment.id"
      },
      "propertyDescriptors" : {
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Join Strategy" : {
          "displayName" : "Join Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Join Strategy",
          "sensitive" : false
        },
        "Insertion Record Path" : {
          "displayName" : "Insertion Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Insertion Record Path",
          "sensitive" : false
        },
        "Timeout" : {
          "displayName" : "Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timeout",
          "sensitive" : false
        },
        "Original Record Reader" : {
          "displayName" : "Original Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Original Record Reader",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Enrichment Record Reader" : {
          "displayName" : "Enrichment Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Enrichment Record Reader",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "SQL" : {
          "displayName" : "SQL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.JoinEnrichment",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-redis-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b2941700-5bb4-3d99-9881-2ccc732db35f",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutRedisHashRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 472.2853365760084,
        "y" : 1182.8390541937658
      },
      "properties" : {
        "charset" : "UTF-8",
        "data-record-path" : "/"
      },
      "propertyDescriptors" : {
        "hash-value-record-path" : {
          "displayName" : "Hash Value Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "hash-value-record-path",
          "sensitive" : false
        },
        "charset" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "charset",
          "sensitive" : false
        },
        "redis-connection-pool" : {
          "displayName" : "Redis Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "redis-connection-pool",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "data-record-path" : {
          "displayName" : "Data Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "data-record-path",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.redis.processor.PutRedisHashRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "original", "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "python-extensions",
        "group" : "org.apache.nifi",
        "version" : "0.0.8"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "be63a515-0958-3a58-addc-2e787038af47",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PushToRedisSimple",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -48.0,
        "y" : 1312.0
      },
      "properties" : {
        "Redis Host" : "172.17.0.2",
        "Redis Port" : "6379",
        "Stream Key" : "nifi:stream:input",
        "Database Index" : "0"
      },
      "propertyDescriptors" : {
        "Redis Host" : {
          "displayName" : "Redis Host",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Redis Host",
          "sensitive" : false
        },
        "Redis Port" : {
          "displayName" : "Redis Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Redis Port",
          "sensitive" : false
        },
        "Stream Key" : {
          "displayName" : "Stream Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stream Key",
          "sensitive" : false
        },
        "Redis Password" : {
          "displayName" : "Redis Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Redis Password",
          "sensitive" : true
        },
        "Database Index" : {
          "displayName" : "Database Index",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Index",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "PushToRedisSimple",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "Failure", "No Retry", "Original", "Retry" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 5,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d5bfa3df-019a-1000-0741-a7d7e27a2e8c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Get endpoint data",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1440.0,
        "y" : 336.0
      },
      "properties" : {
        "Request Content-Encoding" : "DISABLED",
        "Request Multipart Form-Data Filename Enabled" : "true",
        "Request Chunked Transfer-Encoding Enabled" : "false",
        "HTTP/2 Disabled" : "False",
        "Connection Timeout" : "5 secs",
        "Response Cookie Strategy" : "DISABLED",
        "Authorization" : "Bearer ${auth_token}",
        "Socket Read Timeout" : "15 secs",
        "Socket Idle Connections" : "5",
        "Request Body Enabled" : "true",
        "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
        "HTTP URL" : "#{BASE_URL}/${endpoint.0}?start=2025-08-12&end=2025-12-12",
        "Socket Idle Timeout" : "5 mins",
        "Response Redirects Enabled" : "True",
        "Socket Write Timeout" : "15 secs",
        "Response FlowFile Naming Strategy" : "RANDOM",
        "Response Cache Enabled" : "false",
        "Request Date Header Enabled" : "True",
        "Request Failure Penalization Enabled" : "false",
        "Response Body Attribute Size" : "256",
        "Response Generation Required" : "false",
        "Response Header Request Attributes Enabled" : "false",
        "HTTP Method" : "GET",
        "Request Content-Type" : "${mime.type}",
        "Request Digest Authentication Enabled" : "false",
        "Response Cache Size" : "10MB",
        "Response Body Ignored" : "false"
      },
      "propertyDescriptors" : {
        "Request Content-Encoding" : {
          "displayName" : "Request Content-Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Encoding",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Request Multipart Form-Data Filename Enabled" : {
          "displayName" : "Request Multipart Form-Data Filename Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Filename Enabled",
          "sensitive" : false
        },
        "Request Chunked Transfer-Encoding Enabled" : {
          "displayName" : "Request Chunked Transfer-Encoding Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Chunked Transfer-Encoding Enabled",
          "sensitive" : false
        },
        "Response Header Request Attributes Prefix" : {
          "displayName" : "Response Header Request Attributes Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Prefix",
          "sensitive" : false
        },
        "HTTP/2 Disabled" : {
          "displayName" : "HTTP/2 Disabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP/2 Disabled",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Response Cookie Strategy" : {
          "displayName" : "Response Cookie Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cookie Strategy",
          "sensitive" : false
        },
        "Authorization" : {
          "displayName" : "Authorization",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Authorization",
          "sensitive" : false
        },
        "Request Password" : {
          "displayName" : "Request Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Password",
          "sensitive" : true
        },
        "Socket Read Timeout" : {
          "displayName" : "Socket Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Read Timeout",
          "sensitive" : false
        },
        "Socket Idle Connections" : {
          "displayName" : "Socket Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Connections",
          "sensitive" : false
        },
        "Request Body Enabled" : {
          "displayName" : "Request Body Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Body Enabled",
          "sensitive" : false
        },
        "OAuth2 Access Token Refresh Strategy" : {
          "displayName" : "OAuth2 Access Token Refresh Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "OAuth2 Access Token Refresh Strategy",
          "sensitive" : false
        },
        "HTTP URL" : {
          "displayName" : "HTTP URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP URL",
          "sensitive" : false
        },
        "Request OAuth2 Access Token Provider" : {
          "displayName" : "Request OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Request OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Socket Idle Timeout" : {
          "displayName" : "Socket Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Timeout",
          "sensitive" : false
        },
        "Response Redirects Enabled" : {
          "displayName" : "Response Redirects Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Redirects Enabled",
          "sensitive" : false
        },
        "Socket Write Timeout" : {
          "displayName" : "Socket Write Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Write Timeout",
          "sensitive" : false
        },
        "Request Header Attributes Pattern" : {
          "displayName" : "Request Header Attributes Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Header Attributes Pattern",
          "sensitive" : false
        },
        "Response FlowFile Naming Strategy" : {
          "displayName" : "Response FlowFile Naming Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response FlowFile Naming Strategy",
          "sensitive" : false
        },
        "Response Cache Enabled" : {
          "displayName" : "Response Cache Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Enabled",
          "sensitive" : false
        },
        "Request Date Header Enabled" : {
          "displayName" : "Request Date Header Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Date Header Enabled",
          "sensitive" : false
        },
        "Request Failure Penalization Enabled" : {
          "displayName" : "Request Failure Penalization Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Failure Penalization Enabled",
          "sensitive" : false
        },
        "Response Body Attribute Size" : {
          "displayName" : "Response Body Attribute Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Response Generation Required" : {
          "displayName" : "Response Generation Required",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Generation Required",
          "sensitive" : false
        },
        "Request User-Agent" : {
          "displayName" : "Request User-Agent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request User-Agent",
          "sensitive" : false
        },
        "Response Header Request Attributes Enabled" : {
          "displayName" : "Response Header Request Attributes Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Enabled",
          "sensitive" : false
        },
        "HTTP Method" : {
          "displayName" : "HTTP Method",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Method",
          "sensitive" : false
        },
        "Request Username" : {
          "displayName" : "Request Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Username",
          "sensitive" : false
        },
        "Request Content-Type" : {
          "displayName" : "Request Content-Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Type",
          "sensitive" : false
        },
        "Response Body Attribute Name" : {
          "displayName" : "Response Body Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Name",
          "sensitive" : false
        },
        "Request Digest Authentication Enabled" : {
          "displayName" : "Request Digest Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Digest Authentication Enabled",
          "sensitive" : false
        },
        "Request Multipart Form-Data Name" : {
          "displayName" : "Request Multipart Form-Data Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Name",
          "sensitive" : false
        },
        "Response Cache Size" : {
          "displayName" : "Response Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Size",
          "sensitive" : false
        },
        "Response Body Ignored" : {
          "displayName" : "Response Body Ignored",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Ignored",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-scripting-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e2a16e98-1507-335e-a539-c820c47dca04",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExecuteScript",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -456.0,
        "y" : 920.0
      },
      "properties" : {
        "Script Engine" : "python",
        "Script Body" : "import json\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom java.time import Instant\n\nclass TransformCallback(StreamCallback):\n    def __init__(self):\n        pass\n\n    def process(self, inputStream, outputStream):\n        text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        if not text:\n            return\n\n        try:\n            data = json.loads(text)\n        except ValueError:\n            raise ValueError(\"El input no es un JSON valido\")\n\n        output_data = []\n\n        # 1. Preparación de datos y Mapa Maestro\n        master_map = {}\n        input_list = []\n\n        if isinstance(data, list):\n            input_list = data\n            if len(data) > 0:\n                first_enrichment = data[0].get(\"enrichment\", {})\n                if first_enrichment:\n                    master_map = first_enrichment.get(\"s.endpointMap\", {})\n        elif isinstance(data, dict):\n            input_list = [data]\n            enrichment = data.get(\"enrichment\", {})\n            if enrichment:\n                master_map = enrichment.get(\"s.endpointMap\", {})\n\n        # --- FUNCIONES AUXILIARES ---\n        def get_mapped_value(target_name, current_map, original_record, default=None):\n            source_field_name = current_map.get(target_name)\n            return original_record.get(source_field_name, default)\n\n        def to_numeric(value, default=0):\n            if value is None or value == \"\":\n                return default\n            try:\n                return float(value)\n            except (ValueError, TypeError):\n                return default\n\n        def get_epoch_from_iso(iso_date_str):\n            if not iso_date_str: return None\n            try:\n                return Instant.parse(str(iso_date_str)).toEpochMilli()\n            except:\n                return iso_date_str\n\n        def remove_time_from_iso(iso_date_str):\n            if not iso_date_str: return None\n            val_str = str(iso_date_str)\n            return val_str.split(\"T\")[0] if \"T\" in val_str else val_str\n\n        # 2. Procesamiento de Records\n        for record in input_list:\n            if not isinstance(record, dict): continue\n            \n            original = record.get(\"original\", {})\n            event_name = original.get(\"eventname\", \"UNKNOWN\")\n            reason = original.get(\"reason\")\n            \n            # --- Lógica dinámica corregida para data_type ---\n            # Es 'mortality' solo si es DEATH o (SALES donde el motivo NO es MARKET)\n            if event_name == \"DEATH\" or (event_name == \"SALES\" and reason != \"MARKET\"):\n                data_type = \"mortality\"\n            else:\n                data_type = \"breeding\"\n            \n            # --- Lógica para typeEvent (IN / OUT / NONE) ---\n            type_event = \"NONE\"\n            if event_name in [\"PURCHASE\", \"BEGIN GROUP\"]:\n                type_event = \"IN\"\n            elif event_name in [\"SALES\", \"DEATH\", \"END GROUP\"]:\n                type_event = \"OUT\"\n\n            # Fecha y Timestamp\n            raw_date = get_mapped_value(\"timestamp\", master_map, original) or get_mapped_value(\"startDate\", master_map, original)\n            \n            # Extracción numérica (con manejo de nombres de campos según evento)\n            raw_age = get_mapped_value(\"finalAge\" if event_name == \"END GROUP\" else \"age\", master_map, original)\n            raw_weight = get_mapped_value(\"finalWeightAvg\" if event_name == \"END GROUP\" else \"initialWeightAvg\", master_map, original)\n            raw_qty = get_mapped_value(\"quantity\", master_map, original) or get_mapped_value(\"mortalityCount\", master_map, original)\n\n            # 3. Construcción del JSON Único\n            row_structure = {\n                \"data\": {\n                    \"quantity\": to_numeric(raw_qty),\n                    \"eventDate\": remove_time_from_iso(raw_date),\n                    \"sex\": original.get(\"sex\", \"pending\"),\n                    \"weightAvg\": to_numeric(raw_weight),\n                    \"breedingCode\": get_mapped_value(\"breedingCode\", master_map, original),\n                    \"ageAvg\": to_numeric(raw_age),\n                    \"reason\": reason,\n                    \"eventName\": event_name,\n                    \"typeEvent\": type_event\n                },\n                \"source\": \"msm-porcimarca\",\n                \"data_type\": data_type,\n                \"idta\": \"1\",\n                \"client\": \"porcimarca\",\n                \"snta\": \"pending\",\n                \"timestamp\": get_epoch_from_iso(raw_date)\n            }\n            \n            output_data.append(row_structure)\n\n        # 4. Escritura del resultado\n        outputStream.write(json.dumps(output_data).encode('utf-8'))\n\n# --- Bloque de Ejecución NiFi ---\nflowFile = session.get()\nif flowFile:\n    try:\n        flowFile = session.write(flowFile, TransformCallback())\n        session.transfer(flowFile, REL_SUCCESS)\n    except Exception as e:\n        log.error(\"Error en script de transformacion: \" + str(e))\n        session.transfer(flowFile, REL_FAILURE)"
      },
      "propertyDescriptors" : {
        "Script File" : {
          "displayName" : "Script File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Script Engine" : {
          "displayName" : "Script Engine",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script Engine",
          "sensitive" : false
        },
        "Script Body" : {
          "displayName" : "Script Body",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script Body",
          "sensitive" : false
        },
        "Module Directory" : {
          "displayName" : "Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.script.ExecuteScript",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "PIGKNOWS_KEYS" : {
      "componentType" : "PARAMETER_CONTEXT",
      "description" : "",
      "inheritedParameterContexts" : [ ],
      "name" : "PIGKNOWS_KEYS",
      "parameters" : [ {
        "description" : "Url base para todos los endpoints",
        "name" : "BASE_URL",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://sync.pigknows.com"
      }, {
        "description" : "",
        "name" : "CLIENT",
        "provided" : false,
        "sensitive" : false,
        "value" : "PORCIMARCA"
      }, {
        "description" : "",
        "name" : "client_id",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "client_secret",
        "provided" : false,
        "sensitive" : true
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "carlos.ramirez@tecnoandina.cl",
    "flowIdentifier" : "pigknows",
    "timestamp" : 1768427915720
  }
}